* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    margin: 0;
}

main {
    padding: 36px;
}
header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 36px;
}

.header-image {
    max-height: max-content;
    margin-right: 10px;
}

.header-title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header-project {
    font-size: 1rem;
    font-weight: 500;
}
.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.form-input {
    font-family: monospace;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;

}

.form-button {
    color: white;
    background: #711F8D;
    grid-column: 1 / -1;
    font-family: monospace;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.meme-img {
    max-width: 100%;
    align-items: center;
}